* {
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

body {	
	font-size: 100%;
	margin: 15px;
	/*background: #666;*/
    background-image: url("../images/background.jpg");
    background-size: cover;
	color: #fff;
}

/******************************
 *      C O N T R O L S       *
 ******************************/
#controls #btnNew {
	width: 42px;
	height: 42px;
	background: rgba(0, 0, 0, 0);
}

#controls img:hover, #controls img:focus {
	-webkit-transform: scale(1.2);  
  	-moz-transform: scale(1.2);  
  	-o-transform: scale(1.2);  
  	position:relative;
}

/************************
 *      N O T E S       *
 ************************/
ul, li {
	list-style: none;
}

ul {
	overflow: hidden;
	padding: 15px;
}

ul li {
	margin: 15px;
	float: left;
	position: relative;
}

ul li div {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 170px;
	width: 170px;
	padding: 10px;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px  rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
	border-style: solid;
}

ul li div img {
	padding: 1px 3px;
	margin: 10px; 
	position: absolute; 
	top: 0; 
	right: 0;
}

ul li textarea {
	font-family: 'Indie Flower', cursive;/*"Reenie Beanie",arial,sans-serif;*/
	background: rgba(255, 255, 255, 0.5); /* transparent background */
	resize: none;
	padding: 3px;
	border-style: none;
}

.note-title {
	font-size: 140%;
	font-weight: bold;
	height: 27px;
	width: 70%;
}

.note-content {
	font-size:120%;
	height: 170px;
	width: 100%;
}

ul li:nth-child(even) div {  
  -o-transform:rotate(4deg);  
  -webkit-transform:rotate(4deg);  
  -moz-transform:rotate(4deg);  
  position:relative;  
  top:5px;  
}

ul li:nth-child(3n) div {  
  -o-transform:rotate(-3deg);  
  -webkit-transform:rotate(-3deg);  
  -moz-transform:rotate(-3deg);  
  position:relative;  
  top:-5px;  
}

ul li:nth-child(5n) div {  
  -o-transform:rotate(5deg);  
  -webkit-transform:rotate(5deg);  
  -moz-transform:rotate(5deg);  
  position:relative;  
  top:-10px;
}

ul li div:hover, ul li div:focus {  
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);  
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);  
  box-shadow:10px 10px 7px rgba(0,0,0,.7);  
  -webkit-transform: scale(1.25);  
  -moz-transform: scale(1.25);  
  -o-transform: scale(1.25);  
  position:relative;  
  z-index:5;   
}

/* define different colours for the notes */
ul li div.colour1 {
	background: #FDEF93;/*ffc;*/
}
ul li div.colour2 {
	background: #6DE97E;/*cfc;*/
}
ul li div.colour3 {
	background: #93C9F2;/*ccf;*/
}
ul li div.colour4 {
	background: #FEF243;
}
ul li div.colour5 {
	background: #DBFAFE;
}

#mainheading {
    width: 100%;
    position: relative;
    margin: 10px auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: darkviolet;
}


@keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
 
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.colour1, .colour2, .colour3, .colour4, .colour5 {
    animation-name: reset, fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
 
.colour1.slide, .colour2.slide, .colour3.slide, .colour4.slide, .colour5.slide {
    animation-delay: 0, 0;
}